infrastrure_terraform/.terraform
infrastrure_terraform/.terraform.lock.hcl
infrastrure_terraform/terraform.tfplan
infrastrure_terraform/terraform.tfstate
infrastrure_terraform/terraform.tfstate.backup
node_modules/
frontend/dist/
frontend/package-lock.json